<% if @user %>
  <h2>Hello, <%= @user.username %>!</h2>
<% end %>

<ul>
  <% @space.each do |space| %>
    <li>
      <%= space.from_date %>
      <%= space.description %>
    </li>
  <% end %>
</ul>
