<form action="/space" method="post">
  <label for="name">Name:
    <input type="text" name="name">
  </label>
  <label for="description">Description:
    <textarea name="description" rows="10" cols="50">
      Please enter the description of the space.</textarea>
  </label>
  <label for="price">Price:
    <input type="text" name="price" placeholder="£">
  </label>
  <label for="from_date">Available from (DD/MM/YYYY):
    <input type="date" name="from_date">
  </label>
  <label for="to_date">Available todo (DD/MM/YYYY):
    <input type="date" name="to_date">
  </label>
  <input type="submit" value="List my space">
</form>
