<% if @user %>
  <h2>Welcome to NodoBnB, <%= @user.username %></h2>
<% end %>

<h1> Sign up for access to find exciting places to stay</h1>

<form action="/user/new" method="post">
  <label for="username">Name:
    <input type="text" name="username">
  </label>
  <label for="password">Password:
    <input type="password" name="password">
  </label>
  <input type="submit" value="Submit">
</form>


<a href="/spaces">See all the listed spaces</a>
<br>
<a href="/spaces/new">Add a new space</a>
