<% if @user %>
  <h3>Welcome to NodoBnB, <%= @user.username %></h3>
<% end %>

<h3> Sign up for access to find exciting places to stay</h3>

<form action="/user/new" method="post">
  <label for="username">Name:
    <input type="text" name="username">
  </label>
  <label for="password">Password:
    <input type="password" name="password">
  </label>
  <input type="submit" value="Submit">
</form>
