<% if @user %>
  <h2>Welcome to NodoBnB, <%= @user.username %></h2>
<% end %>

<h1> Hello, welcome to sign up! </h1>

<form action="/user/new" method="post">
  <label for="username">Name:
    <input type="text" name="username">
  </label>
  <label for="password">Password:
    <input type="password" name="password">
  </label>
  <input type="submit" value="Submit">
</form>
