<% if @user_name %>
  <h2>Welcome to NodoBnB, <%= @user_name.username %></h2>
<% end %>

<form action="/user" method="post">
  <label for="user_name">Name:
    <input type="text" name="user_name">
  </label>
  <label for="password">Password:
    <input type="password" name="password">
  </label>
  <input type="submit" value="Submit">
</form>
