<h1>Hello, please log in to access a range of existing places to stay</h1>

<form action="user/login" method="post">
  <label for="username">Name:
    <input type="text" name="username">
  </label>
  <label for="password">Password:
    <input type="password" name="password">
  </label>
  <input type = 'submit' value = 'login'>
</form>
