<% if @message %>
  <%= @message %>
<% end %>

<h1> Hello, welcome to login! </h1>

<form action="user/login" method="post">
  <label for="username">Name:
    <input type="text" name="username">
  </label>
  <label for="password">Password:
    <input type="password" name="password">
  </label>
  <input type = 'submit' value = 'login'>
</form>
