body{
  text-align: center;
  font-family: Helvetica;
  line-height: 200%;
  background-color: #e6e6e6;
  font-size: 14px;
}
footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.jumbotron {
    background: url("/img/nathan-fertig-249917.jpg") no-repeat fixed;
    background-size: cover;
    padding: 10em;
}
table {
  width: 90%;
  margin: auto;
  background-color: white;
  /* border-radius: 4px; */
}

th {
  background-color: #22adba;
}

tr:nth-child(even) {
    background-color: #eee;
}
tr:nth-child(odd) {
   background-color: #fff;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

input[type=text] {
    width: 200px;
    padding: 4px 15px;
    margin: 8px 0;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 4px;
    color: #21868e;
}

input[type=password] {
    width: 200px;
    padding: 4px 15px;
    margin: 8px 0;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 4px;
    color: #21868e;
}
input[type=date] {
    width: 200px;
    padding: 4px 15px;
    margin: 8px 0;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 4px;
    color: #21868e;
}
textarea {
    padding: 4px 15px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    color: #21868e;
}
textarea:focus {
  outline: none !important;
  border:1px solid #21868e;
  box-shadow: 0 0 10px #22adba;
}

input:focus {
    outline: none !important;
    border:1px solid #21868e;
    box-shadow: 0 0 10px #22adba;
}

input[type=submit] {
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #22adba;
  color: white;
}

input[type=submit]:visited {
  background-color: #167179;
  color: #22adba;
}


#nav-bar-title {
  border: none;
}
.navbar {
  background-color: rgba(33, 134, 142, 0.7);
}

.navbar a {
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  display: block;
  border-radius: 5px;
  font-size: 16px;
}
.navbar a:hover {
  background: #fff;
  color: #22adba;
}
.navbar-right li {
  margin: 10px;
}

.flash {
  font-size: 1.5em;
  color: #22adba;
  background: #fff;
}
#owner-space {
  margin-bottom: 30px;
  padding: 10px;
  font-size: 1.2em;
}
