<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nodo BnB</title>
    <link rel="stylesheet" type="text/css" href="/nodo.css">
  </head>
  <body>
    <header>
      <form method="post" action="/logout">
        <input value="Logout" type="submit" />
        <input type="hidden" name="_method" value="delete" />
      </form>
      <a href="/bookings/user">Booking Requests</a>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </header>
    <h1>Nodo BnB</h1>
    <section id="main">
      <%= yield %>
    </section>
  </body>
</html>
