<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nodo BnB</title>
    <link rel="stylesheet" type="text/css" href="/nodo.css">
  </head>
  <body>
    <h1>Nodo BnB</h1>
    <section id="main">
      <% if flash[:login] %>
      <%= flash[:login] %>
      <% end %>
      <%= yield %>
    </section>
  </body>
</html>
